.ebook-slider-txt-1 {
  background: linear-gradient(0deg, rgba(67, 56, 202, 0.3), rgba(12, 22, 50, 0.3)), url(https://banfaucet.com/assets/img/12232.jpg);
  background-size: cover;
  background-position: center left;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 55px;
}

.typewrite.gradient-custom {
  color: #e74739;
  background: -webkit-linear-gradient(
    45deg,
    #ff0 0%,
    #e74739 40%,
    #f5c814 100%
  );
  background: linear-gradient(45deg, #ff0 0%, #e74739 40%, #f5c814 100%);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1h2h3h4-color.in2 {
  line-height: 111px;
  margin: 0 0 23px;
  font-weight: 800;
  font-size: 72px;
  background: -webkit-linear-gradient(#bfc8e2, #bfc8e2);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p_custom {
  color: #bfc8e2;
  font-size: 26px;
  line-height: 34px;
  padding-right: 2%;
  padding-bottom: 21px;
}

.icon_rnd li {
  list-style: none;
  display: inline-block;
  margin: 5px 3px;
}

.icon_rnd img {
  width: 47px;
}

.boxed-btn-1 {
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  border: 1px solid #556ee6;
  margin-top: 16px;
  padding: 16px 45px;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: #556ee6;
  color: white;
}
